<%- include('partials/header') -%>

<h1>Compose</h1>
<form action="/compose" method="post">
    <input type="text" placeholder="" name="newEntry">
    <button type="submit" name="button" for="newEntry">Submit</button>

</form>


<%- include('partials/footer') -%>